<a href="https://colab.research.google.com/github/ROHIT318/python-practice/blob/main/learn_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df = pd.read_csv('/content/drive/MyDrive/purchaser.csv')

df.head()

  Date of Purchase       Purchaser Name  Denomination
0      12/Apr/2019  A B C INDIA LIMITED        100000
1      12/Apr/2019  A B C INDIA LIMITED        100000
2      12/Apr/2019  A B C INDIA LIMITED       1000000
3      12/Apr/2019  A B C INDIA LIMITED       1000000
4      12/Apr/2019  A B C INDIA LIMITED        100000

In [3]:
df.shape

(18871, 3)

In [4]:
df.columns = ['purchase_date', 'purchaser', 'denomination']

In [5]:
df['denomination'].median()

10000000.0

In [6]:
# Broad overview or statiscal data. Goes through all columns and provide statistical details of only integer/float columns
df.describe()

       denomination
count  1.887100e+04
mean   6.441372e+06
std    4.538947e+06
min    1.000000e+03
25%    1.000000e+06
50%    1.000000e+07
75%    1.000000e+07
max    1.000000e+07

In [7]:
# To count frequency of an element. If want to count number of elements or rows use count() instead.
df['purchaser'].value_counts()

purchaser
FUTURE GAMING AND HOTEL SERVICES PR               1208
MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED     821
QWIKSUPPLYCHAINPRIVATELIMITED                      410
HALDIA ENERGY LIMITED                              395
VEDANTA LIMITED                                    386
                                                  ...
MR. SAMEER  BHATIA                                   1
R.S.BROTHERS RETIAL INDIA PVT LTD                    1
B.DAS AND ASSOCIATES PVT. LTD.                       1
J B ENTERPRISE                                       1
GORUKANTI DEVENDER RAO                               1
Name: count, Length: 1320, dtype: int64

In [8]:
# Get percentage of total values instead
df['purchaser'].value_counts(normalize=True)

purchaser
FUTURE GAMING AND HOTEL SERVICES PR               0.064014
MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED    0.043506
QWIKSUPPLYCHAINPRIVATELIMITED                     0.021726
HALDIA ENERGY LIMITED                             0.020932
VEDANTA LIMITED                                   0.020455
                                                    ...
MR. SAMEER  BHATIA                                0.000053
R.S.BROTHERS RETIAL INDIA PVT LTD                 0.000053
B.DAS AND ASSOCIATES PVT. LTD.                    0.000053
J B ENTERPRISE                                    0.000053
GORUKANTI DEVENDER RAO                            0.000053
Name: proportion, Length: 1320, dtype: float64

In [9]:
# splitting of object, apply functions, combine results
# Breaking the dataset into groups by purchasers
purchaser_group = df.groupby(['purchaser'])
purchaser_group.get_group('FUTURE GAMING AND HOTEL SERVICES PR')
# Similar to filter=df['purchaser']=='FUTURE GAMING AND HOTEL SERVICES PR'; df.loc[ filter ];
# Except that group is created for each unique entry of purchaser column

      purchase_date                            purchaser  denomination
3342    21/Oct/2020  FUTURE GAMING AND HOTEL SERVICES PR      10000000
3343    21/Oct/2020  FUTURE GAMING AND HOTEL SERVICES PR      10000000
3344    21/Oct/2020  FUTURE GAMING AND HOTEL SERVICES PR      10000000
3345    21/Oct/2020  FUTURE GAMING AND HOTEL SERVICES PR      10000000
3346    21/Oct/2020  FUTURE GAMING AND HOTEL SERVICES PR      10000000
...             ...                                  ...           ...
18331   09/Jan/2024  FUTURE GAMING AND HOTEL SERVICES PR      10000000
18332   09/Jan/2024  FUTURE GAMING AND HOTEL SERVICES PR      10000000
18333   09/Jan/2024  FUTURE GAMING AND HOTEL SERVICES PR      10000000
18334   09/Jan/2024  FUTURE GAMING AND HOTEL SERVICES PR      10000000
18335   09/Jan/2024  FUTURE GAMING AND HOTEL SERVICES PR      10000000

[1208 rows x 3 columns]

In [10]:
# Contains multiple indexes like purchaser and purchase_date
purchaser_group['purchase_date'].value_counts().tail(15)

purchaser                        purchase_date
YOGA BUILDERS PVT LTD            07/Jul/2022       7
                                 10/Apr/2023       3
                                 07/Jan/2022       3
YOGESH GARODIA                   09/Oct/2019       1
YOGESH MANNALAL AGRAWAL          12/Oct/2023       5
YOGESH MANPURIA                  11/Oct/2023      10
                                 07/Oct/2021       7
YUVAN TRADING   CONSULTANCY LLP  12/Oct/2023       3
                                 17/Nov/2023       2
ZENSAR TECHNOLOGIES LTD          07/May/2019       3
ZUVAN ENERGY PRIVATE LIMITED     11/Apr/2023       1
ZUVAN ENERGY PVT LTD             08/Apr/2022       2
ZYDUS HEALTHCARE LIMITED         10/Oct/2022      18
                                 10/Jul/2023       8
                                 14/Nov/2022       3
Name: count, dtype: int64

In [11]:
# Accessing data using groupby and than indexing
purchaser_group['purchase_date'].value_counts().loc['YOGA BUILDERS PVT LTD']

purchase_date
07/Jul/2022    7
10/Apr/2023    3
07/Jan/2022    3
Name: count, dtype: int64

In [12]:
# 'YOGA BUILDERS PVT LTD' bought 53% of there total bonds on 07/Jul/2022
purchaser_group['purchase_date'].value_counts(normalize=True).loc['YOGA BUILDERS PVT LTD']

purchase_date
07/Jul/2022    0.538462
07/Jan/2022    0.230769
10/Apr/2023    0.230769
Name: proportion, dtype: float64

In [15]:
# Column of grouped data on which you want to apply aggregated function
purchaser_group['denomination'].median()

purchaser
14 REELS PLUS LLP                     10000000.0
A B C INDIA LIMITED                     100000.0
AAKANKSHA BAHETY                       1000000.0
AALAYA CONSTRUCTIONS                  10000000.0
AARISH SOLAR POWER PRIVATE LIMITED    10000000.0
                                         ...
YUVAN TRADING   CONSULTANCY LLP       10000000.0
ZENSAR TECHNOLOGIES LTD               10000000.0
ZUVAN ENERGY PRIVATE LIMITED          10000000.0
ZUVAN ENERGY PVT LTD                  10000000.0
ZYDUS HEALTHCARE LIMITED              10000000.0
Name: denomination, Length: 1320, dtype: float64

In [17]:
purchaser_group['denomination'].median().loc['ZYDUS HEALTHCARE LIMITED']

10000000.0

In [20]:
# Apply multiple aggregate functions in one go
# purchaser_group['denomination'].agg(['median', 'mean'])
purchaser_group['denomination'].agg(['median', 'mean']).loc['A B C INDIA LIMITED']

median    100000.000000
mean      307692.307692
Name: A B C INDIA LIMITED, dtype: float64